
#myCanvas{
    border: 3px solid rgb(54, 49, 49);
    position: absolute;
    top: 70px;
    left: 10px;
}

#universalbutton{
    font-size: 20px;
    position: absolute;
    top: 30px;
    border: 3px solid black;
    border-radius: 3px;
}

#body{

}

#bias{
    position: absolute;
    left: 1180px;
    top: 35px;
    cursor: pointer;
    opacity: 1;
}

#sliderval{

    position: absolute;
    left: 1200px;
    top: 0px;
}

#Sorts{
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 1330px;
    border: 3px solid black;
    border-radius: 3px;
    background-color: crimson;
}



