body{
    background-color: rgb(59, 55, 55);
}

#myCanvas{
    position: absolute;
    top: 70px;
    left: 10px;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(191, 191, 204);
    border-style: solid;
}

.button {
    background-color: #a993dc; /* Green */
    border-radius: 5px;
    border: 2px solid rgb(191, 191, 204);
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.sortbutton{
    background-color: #a993dc; /* Green */
    border-radius: 5px;
    border: 2px solid rgb(191, 191, 204);
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 150px;
}

